# IDE related excludes
.idea
.vscode

# Project configuration excludes
.env
config/local.jsonnet
**/terraform.tfvars.json

# Terraform related excludes
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup

# Generated kubeconfig
kubeconfig

# Directory containing generated Application yaml files
cluster-state
