apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-addons
  namespace: ${namespace}
  labels:
    managed-by: terraform
spec:
  project: default
  source:
    repoURL: ${repoUrl}
    targetRevision: ${revision}
    path: ${basePath}/${path}
    directory:
      recurse: true

  destination:
    server: https://kubernetes.default.svc
    namespace: ${namespace}

  syncPolicy:
    automated:
      selfHeal: true
      prune: true
